<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Progress Test</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="downloadPage">

<div class="downloadContainer">
    <span>Progress</span>
    <div id="progressComponentContainer"></div>
    <!-- <div class="progressElement" id="progressElement">
        <svg class="loadRingContainer" width="120" height="120">
            <circle class="circleAll" cx="60" cy="60" r="52"></circle>
            <circle class="circleFilled" id="ring" cx="60" cy="60" r="52"></circle>
        </svg>
    </div> -->

    <div class="controlPanelForRingProgress">
        <div class="controlItemForRingProgress">
            <input type="number" id="valueInput" value="75" min="0" max="100">
            <label for="valueInput">Value</label>
        </div>
        <div class="controlItemForRingProgress">
            <input type="checkbox" id="animatingSwitch">
            <label  for="animatingSwitch">Animate</label>
        </div>
        <div class="controlItemForRingProgress">
            <input type="checkbox" id="hideSwitch">
            <label for="hideSwitch">Hide</label>
        </div>
    </div>
</div>

<script type="module">
    import { ProgressRingElement } from './ProgressRingElement.js';

    const progressComponentContainer = document.getElementById('progressComponentContainer');
    const instanceProgressComponent = new ProgressRingElement(progressComponentContainer);

    const percentOfRing = document.getElementById('valueInput');
    const ringGo = document.getElementById('animatingSwitch');
    const ringHide = document.getElementById('hideSwitch');

    percentOfRing.addEventListener('input', (e) => {
        instanceProgressComponent.setValue(e.target.value);
    });

    ringGo.addEventListener('change', (e) => {
        instanceProgressComponent.switchAnimated(e.target.checked);
    });

    ringHide.addEventListener('change', (e) => {
        instanceProgressComponent.switchHidden(e.target.checked);
    });
    
    instanceProgressComponent.setValue(75);
    percentOfRing.value = 75;
</script>

</body>
</html>